<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="container">
    <h1>Мои задачи</h1>

    <form class="add-task" action="/add" method="post">
        <input
            type="text"
            name="text-name"
            placeholder="Название задачи"
            required
        >

        <textarea
            name="text-description"
            placeholder="Описание"
        ></textarea>

        <label class="daily-checkbox">
            Ежедневная
            <input type="checkbox" name="is-daily" id="is-daily">
        </label>

        <input
            type="date"
            name="planned-date"
            id="planned-date">

        <button type="submit">Добавить</button>
    </form>

    <p></p>

    {% if focus_task %}
    <div class="focus-block">
        <h2>Фокус дня</h2>

        <div class="focus-task">
            <span class="title">{{ focus_task.text_name }}</span>

            {% if focus_task.text_description %}
                <span class="description">{{ focus_task.text_description }}</span>
            {% endif %}

            <form method="post" action="/toggle/{{ focus_task.id }}">
                <button class="focus-done-btn" type="submit">
                    ✓ Выполнить
                </button>
            </form>

            <form method="post" action="/focus/clear">
                <button type="submit">
                    Снять фокус
                </button>
            </form>
        </div>
    </div>
    {% endif %}

    <div class="board">

        <div class="column">
            <h2>Ежедневные</h2>
            <ul class="tasks">
                {% for task in daily_tasks %}
                    {% include "task_item.html" %}
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <h2>Активные</h2>
            <ul class="tasks">
                {% for task in active_tasks %}
                    {% include "task_item.html" %}
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <h2>Запланировнные</h2>
            <ul class="tasks">
                {% for task in future_tasks %}
                    {% include "task_item.html" %}
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <h2>Просроченные</h2>
            <ul class="tasks">
                {% for task in overdue_tasks %}
                    {% include "task_item.html" %}
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <h2>Выполненные</h2>
            <ul class="tasks">
                {% for task in done_tasks %}
                    {% include "task_item.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    const dailyCheckbox = document.getElementById("is-daily");
    const dateInput = document.getElementById("planned-date");

    function updateDateVisibility() {
        if (dailyCheckbox.checked) {
            dateInput.style.display = "none";
            dateInput.value = "";
        }
        else {
            dateInput.style.display = "block";
        }
    }

    dailyCheckbox.addEventListener("change", updateDateVisibility);
    updateDateVisibility();
</script>

</body>
</html>